# Step 1: Dataset Loading and Inspection

The dataset is loaded and basic structural analysis is performed.
This includes checking dimensions, data types, and missing values.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Log_Anamoly_Detection/dataset/balanced_log_dataset.csv")

In [ ]:
df.head()

,BlockId,Label,Type,Features,TimeInterval,Latency
0,blk_8462687553742484299,Fail,5.0,"[E5,E5,E5,E22,E11,E9,E11,E9,E11,E9,E26,E26,E26...","[0.0, 0.0, 0.0, 70.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",7156
1,blk_9151689281583792216,Fail,1.0,"[E22,E5,E5,E5,E26,E26,E11,E9,E11,E9,E11,E9,E27...","[0.0, 0.0, 0.0, 18.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",39300
2,blk_5446956458314793726,Success,NaN,"[E5,E5,E22,E5,E11,E9,E11,E9,E11,E9,E26,E26,E26]","[0.0, 0.0, 1.0, 47.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",48
3,blk_6632164064180342420,Success,NaN,"[E5,E5,E22,E5,E11,E9,E11,E9,E26,E26,E26,E11,E9]","[0.0, 0.0, 1.0, 46.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",48
4,blk_-427522761434588674,Fail,4.0,"[E5,E5,E22,E5,E9,E11,E9,E11,E9,E26,E26,E11,E26...","[0.0, 0.0, 3.0, 35.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",48073

In [ ]:
df.shape

(33676, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33676 entries, 0 to 33675
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BlockId       33676 non-null  object
 1   Label         33676 non-null  object
 2   Type          16838 non-null  float64
 3   Features      33676 non-null  object
 4   TimeInterval  33676 non-null  object
 5   Latency       33676 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.5+ MB

In [ ]:
df.describe()

               Type       Latency
count  16838.000000  33676.000000
mean       9.375638  15338.970483
std       11.344260  18068.625415
min        0.000000      0.000000
25%        3.000000     48.000000
50%        5.000000   6086.000000
75%        8.000000  32466.750000
max       31.000000  53924.000000